In [16]:
import pandas as pd
import yfinance as yf
import pandas_datareader as data

In [2]:
companies = pd.read_csv("companylist.csv") # reading the list of 50 companies of India

In [5]:
companyList = companies.tail(-1) # removing the first row

In [7]:
companyList.head()

,Symbol,Open,High,Low,Last Traded Price,Change,%Change,Traded Volume(lacs),Traded Value(crs),52 Week High,52 Week Low,365 Days % Change,30 Days % Change
1,HINDALCO,481.90,486.90,481.00,483.90,6.35,1.33,7.27,35.20,636.00,308.95,-1.83,4.75
2,JSWSTEEL,750.00,755.80,748.05,754.45,9.25,1.24,1.58,11.87,790.00,520.05,12.25,1.84
3,TATASTEEL,119.45,120.35,119.20,119.80,0.95,0.80,37.51,44.98,138.67,82.70,-89.75,7.25
4,HCLTECH,"1,069.00","1,072.00","1,067.15","1,071.90",8.05,0.76,0.63,6.73,"1,359.40",877.35,-16.78,4.23
5,TATAMOTORS,415.75,416.75,413.55,415.90,3.00,0.73,15.38,63.84,528.50,366.20,-17.43,0.42

In [9]:
companySymbols = companyList['Symbol'].tolist()
tickers = []
for symbol in companySymbols:
    symbol = symbol + ".NS"
    tickers.append(symbol)

In [10]:
print(tickers)

['HINDALCO.NS', 'JSWSTEEL.NS', 'TATASTEEL.NS', 'HCLTECH.NS', 'TATAMOTORS.NS', 'INFY.NS', 'TECHM.NS', 'ULTRACEMCO.NS', 'TITAN.NS', 'WIPRO.NS', 'ASIANPAINT.NS', 'BAJAJFINSV.NS', 'ADANIPORTS.NS', 'HDFCLIFE.NS', 'KOTAKBANK.NS', 'SBIN.NS', 'UPL.NS', 'POWERGRID.NS', 'HEROMOTOCO.NS', 'TCS.NS', 'BPCL.NS', 'NTPC.NS', 'SUNPHARMA.NS', 'BAJFINANCE.NS', 'BAJAJ-AUTO.NS', 'GRASIM.NS', 'COALINDIA.NS', 'ONGC.NS', 'DRREDDY.NS', 'ITC.NS', 'MARUTI.NS', 'BRITANNIA.NS', 'AXISBANK.NS', 'INDUSINDBK.NS', 'APOLLOHOSP.NS', 'ICICIBANK.NS', 'NESTLEIND.NS', 'RELIANCE.NS', 'HDFCBANK.NS', 'LT.NS', 'SBILIFE.NS', 'CIPLA.NS', 'M&M.NS', 'TATACONSUM.NS', 'DIVISLAB.NS', 'HINDUNILVR.NS', 'EICHERMOT.NS', 'HDFC.NS', 'ADANIENT.NS', 'BHARTIARTL.NS']

### User choice

In [65]:
comapnyChoice = int(input("Enter the choice of comapny: "))

Enter the choice of comapny: 50

In [66]:
tickerObject = yf.Ticker(tickers[comapnyChoice-1]) # Create ticker object of the selected company

In [67]:
tickerObject.info

{'zip': '110070', 'sector': 'Communication Services', 'fullTimeEmployees': 20882, 'longBusinessSummary': "Bharti Airtel Limited operates as a telecommunications company in Asia and Africa. It operates through Mobile Services India, Mobile Services Africa, Mobile Services South Asia, Airtel Business, Tower Infrastructure Services, Homes Services, Digital TV Services, and Others segments. The company's product offerings include 2G, 3G, and 4G wireless services, as well as mobile commerce, fixed-line services, high speed broadband, DTH, enterprise services, and national and international long-distance connectivity services. It also provides voice, data, video, web conferencing, network integration, data center, and managed services, as well as enterprise mobility applications and digital media; on-demand and streaming services; digital payments and financial services; and cloud and data center, cybersecurity, IoT, Ad Tech, and cloud based networking solutions. In addition, the company operates a submarine cable system; and provides telecom towers. The company has approximately 491 million customers across 17 countries. Bharti Airtel Limited has partnership with Google Cloud and Cisco to launch Airtel Office Internet, a unified enterprise grade solution; and a strategic partnership with Tata Consultancy Services Limited for implementing 5G network solutions for India. The company was formerly known as Bharti Tele-Ventures Limited and changed its name to Bharti Airtel Limited in April 2006. Bharti Airtel Limited was incorporated in 1995 and is headquartered in New Delhi, India.", 'city': 'New Delhi', 'phone': '91 11 4666 6100', 'country': 'India', 'companyOfficers': [], 'website': 'https://www.airtel.in', 'maxAge': 1, 'address1': 'Bharti Crescent', 'fax': '91 11 4166 6137', 'industry': 'Telecom Services', 'address2': '1, Nelson Mandela Road Vasant Kunj Phase - II', 'ebitdaMargins': 0.45344, 'profitMargins': 0.05096, 'grossMargins': 0.60882, 'operatingCashflow': 609700020224, 'revenueGrowth': 0.221, 'operatingMargins': 0.23684, 'ebitda': 586333028352, 'targetLowPrice': None, 'recommendationKey': 'none', 'grossProfits': 698027000000, 'freeCashflow': 3282500096, 'targetMedianPrice': None, 'earningsGrowth': 0.82, 'currentRatio': 0.456, 'returnOnAssets': 0.04844, 'numberOfAnalystOpinions': None, 'targetMeanPrice': None, 'debtToEquity': 216.776, 'returnOnEquity': 0.117469996, 'targetHighPrice': None, 'totalCash': 134002999296, 'totalDebt': 2179888971776, 'totalRevenue': 1293080985600, 'totalCashPerShare': 22.512, 'financialCurrency': 'INR', 'revenuePerShare': 231.031, 'quickRatio': 0.156, 'recommendationMean': None, 'shortName': 'BHARTI AIRTEL LTD', 'longName': 'Bharti Airtel Limited', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '19800000', 'quoteType': 'EQUITY', 'messageBoardId': 'finmb_135466', 'market': 'in_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 5.342, 'beta3Year': None, 'enterpriseToEbitda': 11.781, '52WeekChange': 0.062271595, 'morningStarRiskRating': None, 'forwardEps': None, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 5962959872, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 122.392, 'sharesShort': None, 'sharesPercentSharesOut': None, 'fundFamily': None, 'lastFiscalYearEnd': 1648684800, 'heldPercentInstitutions': 0.30667, 'netIncomeToCommon': 65894998016, 'trailingEps': 11.65, 'lastDividendValue': 3, 'SandP52WeekChange': -0.12455058, 'priceToBook': 6.3464117, 'heldPercentInsiders': 0.60398, 'nextFiscalYearEnd': 1680220800, 'yield': None, 'mostRecentQuarter': 1664496000, 'shortRatio': None, 'sharesShortPreviousMonthDate': None, 'floatShares': 2597828524, 'beta': 0.343341, 'enterpriseValue': 6907529527296, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1248393600, 'lastSplitFactor': '2:1', 'legalType': None, 'lastDividendDate': 1659312000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.892, 'priceToSalesTrailing12Months': 3.5819325, 'dateShortInterest': None, 'pegRatio': None, 'ytdReturn': None, 'forwardPE': None, 'lastCapGain': None, 'shortPercentOfFloat': None, 'sharesShortPriorMonth': None, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'trailingAnnualDividendYield': 0.0038945866, 'payoutRatio': 0.2575, 'volume24Hr': None, 'navPrice': None, 'trailingAnnualDividendRate': 3, 'toCurrency': None, 'expireDate': None, 'algorithm': None, 'dividendRate': 3, 'exDividendDate': 1659312000, 'circulatingSupply': None, 'startDate': None, 'trailingPE': 66.67382, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'volumeAllCurrencies': None, 'strikePrice': None, 'ask': 776.9, 'askSize': 0, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'bid': 776.75, 'tradeable': False, 'dividendYield': 0.0039, 'bidSize': 0, 'coinMarketCapLink': None, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/airtel.in', 'trailingPegRatio': None}

### Get the necessary data from balance sheet , cash flow statements and income statements

In [68]:
incomeStatement = tickerObject.financials
balanceSheet = tickerObject.balancesheet
cashFlow = tickerObject.cashflow

### clean the data

In [69]:
cashFlow = cashFlow[cashFlow.columns[0:len(incomeStatement.columns)]]
cashFlow.columns = ['2022', '2021','2020','2019']
cashFlow.dropna()

incomeStatement = incomeStatement[incomeStatement.columns[0:len(incomeStatement.columns)]]
incomeStatement.columns = ['2022', '2021','2020','2019']
incomeStatement = incomeStatement.fillna(0).astype(float)

balanceSheet = balanceSheet[balanceSheet.columns[0:len(incomeStatement.columns)]]
balanceSheet.columns = ['2022', '2021','2020','2019']
balanceSheet = balanceSheet.fillna(0).astype(float)

## Zscore

In [70]:
x1 = balanceSheet.loc["Working Capital"] / balanceSheet.loc["Total Assets"]

x2 = balanceSheet.loc["Retained Earnings"] / balanceSheet.loc["Total Assets"]

x3 = incomeStatement.loc["EBIT"] / balanceSheet.loc["Total Assets"]

x4 = int(data.get_quote_yahoo(tickers[comapnyChoice-1])['marketCap'])/ balanceSheet.loc["Current Liabilities"]

x5 = incomeStatement.loc["Total Revenue"] / balanceSheet.loc["Total Assets"]

In [71]:
z = (1.2 * x1) + (1.4 * x2) + (3.3 * x3) + (0.6 * x4) + (x5)
print(z)
type(z)

2022    2.787792
2021    2.547043
2020    1.899618
2019    3.338986
dtype: float64

pandas.core.series.Series

In [72]:
print(z[0])

2.787791908928275

In [134]:
### Zcore test tabluated
entry12 = []
for zvalues in z:
    print(zvalues)
    i = 0
    if zvalues>=3:
        entry12value = "NO"
        safeYears = z.index[i]
        entry12.append(entry12value)
    elif zvalues>=1.8 and zvalues<3: 
        entry12value ="PROBABLY"
        safeYears = z.index[i]
        entry12.append(entry12value)
    else:
        entry12value = "YES"
        safeYears = z.index[i]
        entry12.append(entry12value)
    i = i + 1
    
print(entry12)

2.787791908928275
2.547042605063879
1.8996176246602052
3.338985593339661
['PROBABLY', 'PROBABLY', 'PROBABLY', 'NO']

## Beneish M score

In [135]:
cogs22 = incomeStatement.at['Total Revenue', '2022'] - \
    incomeStatement.at['Gross Profit', '2022']
cogs21 = incomeStatement.at['Total Revenue', '2021'] - \
    incomeStatement.at['Gross Profit', '2021']
cogs20 = incomeStatement.at['Total Revenue', '2020'] - \
    incomeStatement.at['Gross Profit', '2020']
cogs19 = incomeStatement.at['Total Revenue', '2019'] - \
    incomeStatement.at['Gross Profit', '2019']

incomeStatement.loc['Cost of Goods Sold'] = [cogs22, cogs21,cogs20,cogs19]


if('Long Term Debt' not in balanceSheet.index):
    ld22 = balanceSheet.at['Total Liab', "2022"] - \
        balanceSheet.at['Total Current Liabilities', "2022"] - \
        balanceSheet.at['Other Liab', "2022"]
    ld21 = balanceSheet.at['Total Liab', "2021"] - \
        balanceSheet.at['Total Current Liabilities', "2021"] - \
        balanceSheet.at['Other Liab', "2021"]
    ld20 = balanceSheet.at['Total Liab', "2020"] - \
        balanceSheet.at['Total Current Liabilities', "2020"] - \
        balanceSheet.at['Other Liab', "2020"]
    ld19 = balanceSheet.at['Total Liab', "2019"] - \
        balanceSheet.at['Total Current Liabilities', "2019"] - \
        balanceSheet.at['Other Liab', "2019"]
        
    balanceSheet.loc['Long Term Debt'] = [ld22, ld21, ld20, ld19]
    


if('Long Term Investments' not in balanceSheet.index):
    li22 = balanceSheet.at['Common Stock', "2022"] + \
        balanceSheet.at['Cash And Cash Equivalents', "2022"]
    li21 = balanceSheet.at['Common Stock', "2021"] - \
        balanceSheet.at['Cash And Cash Equivalents', "2021"]
    li20 = balanceSheet.at['Common Stock', "2020"] - \
        balanceSheet.at['Cash And Cash Equivalents', "2020"]
    li19 = balanceSheet.at['Common Stock', "2019"] - \
        balanceSheet.at['Cash And Cash Equivalents', "2019"]
    
balanceSheet.loc['Long Term Investments'] = [li22, li21, li20, li19]

In [139]:
df = incomeStatement.loc[["Total Revenue",
                            "Cost of Goods Sold", "Selling General And Administration", "Net Income"]]

df2 = balanceSheet.loc[["Gross Accounts Receivable",
                        "Current Assets", "Gross PPE", "Long Term Investments", "Total Assets", "Current Liabilities", "Long Term Debt"]]

df3 = cashFlow.loc[["Depreciation",
                    "Operating Cash Flow"]]

data = pd.concat([df, df2, df3])

In [140]:
data.index = ["Revenue", "Cost of Goods Sold", "Selling, General & Admin.Expense", "Depreciation", "Net Income from Continuing Operations", "Accounts Receivables",
                  "Current Assets", "Property, Plant & Equipment", "Securities", "Total Assets", "Current Liabilities", "Total Long-term Debt", "Cash Flow from Operations"]

In [141]:
from Formulas import *

In [142]:
dsri = [DSRI(data,2022),DSRI(data,2021),DSRI(data,2020)]
gmi = [GMI(data,2022),GMI(data,2021),GMI(data,2020)]
aqi = [AQI(data,2022),AQI(data,2021),AQI(data,2020)]
sgi = [SGI(data,2022),SGI(data,2021),SGI(data,2020)]
depi = [DEPI(data,2022),DEPI(data,2021),DEPI(data,2020)]
sgai = [SGAI(data,2022),SGAI(data,2021),SGAI(data,2020)]
lvgi = [LVGI(data,2022),LVGI(data,2021),LVGI(data,2020)]
tata = [TATA(data,2022),TATA(data,2021),TATA(data,2020)]
m_score = [BeneishMScore(dsri[0], gmi[0], aqi[0], sgi[0], depi[0], sgai[0], lvgi[0], tata[0]),BeneishMScore(dsri[1], gmi[1], aqi[1], sgi[1], depi[1], sgai[1], lvgi[1], tata[1]),
          BeneishMScore(dsri[2], gmi[2], aqi[2], sgi[2], depi[2], sgai[2], lvgi[2], tata[2])]

In [143]:
m_score

[-4.292318120852114, -4.4433641770161945, -1.770062602712615]

In [144]:
mScore = [m_score]
indexForTable = "Benish M score for {}".format(companySymbols[comapnyChoice-1])
dict1 = {"Benish M score for {}".format(companySymbols[comapnyChoice-1]): m_score}

In [145]:
mScoreTable = pd.DataFrame(dict1).T
mScoreTable.columns = ['2022','2021','2020']
mScoreTable

                                   2022      2021      2020
Benish M score for BHARTIARTL -4.292318 -4.443364 -1.770063

## M score tabulated

In [147]:
### Zcore test tabluated
entry11 = []
for mvalues in m_score:
    print(m_score)
    i = 0
    if mvalues<-2.22:
        entry11value = "NO"
        
        entry11.append(entry11value)
    elif mvalues>=-2.22 and mvalues<-1.78: 
        entry11value ="PROBABLY"
        
        entry11.append(entry11value)
    else:
        entry11value = "YES"
       
        entry11.append(entry11value)
    i = i + 1
    
entry11.append("insuff data for 2019")    
print(entry11)
print(entry12)

[-4.292318120852114, -4.4433641770161945, -1.770062602712615]
[-4.292318120852114, -4.4433641770161945, -1.770062602712615]
[-4.292318120852114, -4.4433641770161945, -1.770062602712615]
['NO', 'NO', 'YES', 'insuff data for 2019']
['PROBABLY', 'PROBABLY', 'PROBABLY', 'NO']

## Beneford Law

## Probability of Fraud

In [152]:
coeff1 = balanceSheet.loc['Inventory']/balanceSheet.loc['Total Assets']
coeff2 = incomeStatement.loc['Total Revenue']/balanceSheet.loc['Gross PPE']
coeff3 = (balanceSheet.loc['Total Assets']+balanceSheet.loc['Stockholders Equity'])/balanceSheet.loc['Total Assets']
coeff4 = balanceSheet.loc['Current Assets']/balanceSheet.loc['Current Liabilities']

exponent = 2.7**(5.768-4.236*coeff1-0.0259*coeff2-4.766*coeff3-1.936*coeff4)
P =(1-(1/(1+exponent)))*100 
PTranspose = P.T
pTable = pd.DataFrame(PTranspose)
pTable.columns = ['Probability Percentage for {}'.format(companySymbols[comapnyChoice-1])]
print("### The probability of fraud is: ")
print(pTable)
type(pTable)

### The probability of fraud is:
      Probability Percentage for BHARTIARTL
2022                              31.770608
2021                              31.681262
2020                              24.060078
2019                              28.382514

pandas.core.frame.DataFrame

In [163]:
prob = pTable.squeeze() # cpnvert pandas dataframe to series so that it is iterable
print(prob)

2022    31.770608
2021    31.681262
2020    24.060078
2019    28.382514
Name: Probability Percentage for BHARTIARTL, dtype: float64

## Tabluated fraud %

In [164]:
### Zcore test tabluated
entry14 = []
for pvalues in prob:
    print(prob)
    i = 0
    if pvalues<50:
        entry14value = "NO"
        
        entry14.append(entry14value)
    
    else:
        entry14value = "YES"
       
        entry14.append(entry14value)
    i = i + 1
    
  
print(entry11)
print(entry12)
print(entry14)

2022    31.770608
2021    31.681262
2020    24.060078
2019    28.382514
Name: Probability Percentage for BHARTIARTL, dtype: float64
2022    31.770608
2021    31.681262
2020    24.060078
2019    28.382514
Name: Probability Percentage for BHARTIARTL, dtype: float64
2022    31.770608
2021    31.681262
2020    24.060078
2019    28.382514
Name: Probability Percentage for BHARTIARTL, dtype: float64
2022    31.770608
2021    31.681262
2020    24.060078
2019    28.382514
Name: Probability Percentage for BHARTIARTL, dtype: float64
['NO', 'NO', 'YES', 'insuff data for 2019']
['PROBABLY', 'PROBABLY', 'PROBABLY', 'NO']
['NO', 'NO', 'NO', 'NO']



# Create a table

In [165]:
from prettytable import PrettyTable
table1 = PrettyTable()

In [166]:
table1.field_names = ["Year", "BeneishMscore", "AltmanZscore", "BenefordLaw", "FraudProbability"]

In [167]:
# table1.add_row = ['2022',entry11,entry12[0],entry13,entry14]
table1.add_row(['2022',entry11[0],entry12[0],"entry13[0]",entry14[0]])
table1.add_row(['2021',entry11[1],entry12[1],"entry13[1]",entry14[1]])
table1.add_row(['2020',entry11[2],entry12[2],"entry13[2]",entry14[2]])
table1.add_row(['2019',entry11[3],entry12[3],"entry13[3]",entry14[3]])

In [168]:
table1

+------+----------------------+--------------+-------------+------------------+
| Year |    BeneishMscore     | AltmanZscore | BenefordLaw | FraudProbability |
+------+----------------------+--------------+-------------+------------------+
| 2022 |          NO          |   PROBABLY   |  entry13[0] |        NO        |
| 2021 |          NO          |   PROBABLY   |  entry13[1] |        NO        |
| 2020 |         YES          |   PROBABLY   |  entry13[2] |        NO        |
| 2019 | insuff data for 2019 |      NO      |  entry13[3] |        NO        |
+------+----------------------+--------------+-------------+------------------+

In [170]:
table1.title = "Tabulated Test Result for {} ".format(companySymbols[comapnyChoice-1])

In [171]:
print(table1)

+-----------------------------------------------------------------------------+
|                    Tabulated Test Result for BHARTIARTL                     |
+------+----------------------+--------------+-------------+------------------+
| Year |    BeneishMscore     | AltmanZscore | BenefordLaw | FraudProbability |
+------+----------------------+--------------+-------------+------------------+
| 2022 |          NO          |   PROBABLY   |  entry13[0] |        NO        |
| 2021 |          NO          |   PROBABLY   |  entry13[1] |        NO        |
| 2020 |         YES          |   PROBABLY   |  entry13[2] |        NO        |
| 2019 | insuff data for 2019 |      NO      |  entry13[3] |        NO        |
+------+----------------------+--------------+-------------+------------------+

In [173]:
with open('test.csv', 'w', newline='') as f_output:
    f_output.write(table1.get_csv_string())

In [ ]:
def createPrettyTable(entry11,entry12,entry13,entry14):